* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0%;
  width: 100%;
  height: 100%;
  background-color: hsl(210, 46%, 95%);
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body .main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  gap: 15px;
  margin: 1.5rem 5rem;
  line-height: 1.2em;
}

img {
  border-radius: 50%;
}

.profile {
  margin: 10px;
  display: flex;
}

.nameandqualification {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.content {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 10px;
}

.article,
.qualification {
  font-size: 13px;
  opacity: 0.7;
}

.article {
  margin: 15px 10px;
}

.Daniel-Clifford {
  padding: 10px;
  background-color: hsl(263, 55%, 52%);
  border-radius: 15px;
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url('./images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position-x: 300px;
}

.Jonathan-Walters {
  padding: 10px;
  background-color: hsl(217, 19%, 35%);
  border-radius: 15px;
  grid-column: 3/4;
  grid-row: 1/2;
}

.Jeanette-Harmon {
  padding: 10px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  grid-column: 1/2;
  grid-row: 2/3;
}

.Patrick-Abrams {
  padding: 10px;
  background-color: hsl(219, 29%, 14%);
  border-radius: 15px;
  grid-column: 2/4;
  grid-row: 2/3;
  color: hsl(210, 46%, 95%);
}

.Kira-Whittle {
  padding: 10px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  grid-column: 4/5;
  grid-row: 1/3;
}

.Daniel-Clifford,
.Jonathan-Walters,
.Patrick-Abrams > .article {
  color: hsl(210, 46%, 95%);
}

/* Mobile Display */

@media screen and (max-width: 1000px) {
  body {
    overflow: scroll;
  }

  body .main-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .Daniel-Clifford {
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position-x: 180px;
  }
}
/* FRONT-END CHALLENGE */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
